{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>List of all clubs and their teams</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="/add_new_team" method="post" id="add_team">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button class="btn-primary" form="add_team" type="submit">Add a new team</button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    {% for club in clubs %}
        <div class="row">
            <div class="col-12">
                <p style="top-margin: 5px" id="{{ club.id }}"><b>{{ club.name }}</b></p>
            </div>
        </div>
        {% for team in club.teams %}
        <div class="row">
            <div class="col-12 col-md-4">
                <p style="padding: 10px; top-margin:1px" id="{{ team.id }}">{{ team.name }}</p>
            </div>
            <div class="col-12 col-md-4">
                <a href="{{ url_for('view_bp.update_team', team_id=team.id) }}">Update</a>
            </div>
            <div class="col-12 col-md-4">
                <a href="/delete_team?team_id={{ team.id }}">Delete team</a>
            </div>
        </div>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}