{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 id="title">All {{ league.name }} teams</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h5>Teams</h5>
        </div>
    </div>
</div>
<div class="container">
    {% for team in teams %}
    <div class="row">
        <div class="col-6">
            <div id={{ team.name }}>{{ team.name }}</div>
        </div>
        <div class="col-6">
            <div><a href="/scheduleplanner?schedule_for_team={{ team.id }}">Display game schedule</a></div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="/add_new_team" method="post" id="add_team">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                <button class="btn-primary" form="add_team" type="submit">Add new team</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}